* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  background-color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, 68.75rem)
    minmax(0, 1fr)
}

.app-container {
  background-color: white;
  grid-column: 2;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    padding: 1rem;
  }

  header {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid lightgray;
  }

  footer {
    padding: 1.5rem 1rem;
    border-top: 1px solid lightgray;
  }

}

